<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">My teams</h2>
        <div class="carousel">
            <div class="box">
                 <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            </div>
            <a href="" >Read more</a>
           <!-- <div class="card">
                <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>-->

    </div>
</section>








<!--<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">My teams</h2>
        <div class="carousel">
            <div class="card">
                <div class="box">
                 <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            
                <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            
                <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
           <div class="card">
                <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>-->