<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">My teams</h2>
        <div class="carousel">
            <div class="box">
                 <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t1.6435-1/c70.0.200.200a/p200x200/82131158_2563087883740101_2016110807552622592_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=7206a8&_nc_ohc=y7eW5im_TO4AX9040I0&_nc_ht=scontent.ftun10-1.fna&oh=bf32cfb27206665c1e9743a71be30c8b&oe=615C3887" alt="">
                 <div class="text">Massaoud Cherif</div>
                 <p>Graphic designer , Web developer , Business intelligence engineer </p>
                 <div class="icons">
                    <img src="assets/icons/linkedinblanc.svg" alt="" >
                    <img src="assets/icons/facebookblanc.svg" alt="" >
                    <img src="assets/icons/githubblanc.svg" alt="" >
                    </div> 
                 <div class="showmor">
                    <a href=""><img src="assets/icons/angle-arrow-pointing-down.svg" alt="" style="width: 20px;"></a>
                </div>
        </div>
            <div class="box">
                <img src="https://th.bing.com/th/id/OIP.Gn88-sO9xbHRV97IWrh5uQHaHa?w=184&h=182&c=7&r=0&o=5&pid=1.7" alt="">
                <div class="text">Sahbi Romdhani</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <div class="icons">
                    <img src="assets/icons/linkedinblanc.svg" alt="" >
                    <img src="assets/icons/facebookblanc.svg" alt="" >
                    <img src="assets/icons/githubblanc.svg" alt="" >
                    </div>
                <div class="showmor">
                    <a href=""><img src="assets/icons/angle-arrow-pointing-down.svg" alt="" style="width: 20px;"></a>
                </div>
            </div>
            <div class="box">
                <img src="https://th.bing.com/th/id/OIP.Gn88-sO9xbHRV97IWrh5uQHaHa?w=184&h=182&c=7&r=0&o=5&pid=1.7" alt="">
                <div class="text">Amal tlahig</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <div class="icons">
                    <img src="assets/icons/linkedinblanc.svg" alt="" >
                    <img src="assets/icons/facebookblanc.svg" alt="" >
                    <img src="assets/icons/githubblanc.svg" alt="" >
                    </div>
                <div class="showmor">
                    <a href=""><img src="assets/icons/angle-arrow-pointing-down.svg" alt="" style="width: 20px;"></a>
                </div>
            </div>
            <div class="box">
                <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t1.6435-1/p200x200/181610623_4264147330276197_1638740316003387092_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=7206a8&_nc_ohc=oQPc6FrZyqQAX-9M9nH&_nc_ht=scontent.ftun10-1.fna&oh=e318bde930ed3395c0bc6b7f4fb3784d&oe=615CC7F5" alt="">
                <div class="text">Amine Bayouli</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <div class="icons">
                    <img src="assets/icons/linkedinblanc.svg" alt="" >
                    <img src="assets/icons/facebookblanc.svg" alt="" >
                    <img src="assets/icons/githubblanc.svg" alt="" >
                    </div>
                <div class="showmor">
                    <a href=""><img src="assets/icons/angle-arrow-pointing-down.svg" alt="" style="width: 20px;"></a>
                    <!--<fa-icon [icon]="faSortDown" ></fa-icon>-->
                   
                </div>
            </div>
        </div>
        <div class="more">
        <a href="">Show All Team</a>
    </div>

    </div>
</section>








<!--<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">My teams</h2>
        <div class="carousel">
            <div class="card">
                <div class="box">
                 <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            
                <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            
                <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
           <div class="card">
                <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                <img src="assets/image/imgprofile.jpg" alt="">
                <div class="text">someone name</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>-->