<section class="education" id="education">
    <div class="max-width">
        <h2 class="title">My Projects</h2>
                <div class="box-container">
                    <div class="box">
                        <div class="content">
                            <span>dec 2020 - Now  </span>
                            <h3>front-end developer  at Hormiga-Services, Mednine</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vel quasi consectetur expedita ipsam similique maiores ipsa? Error.</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content">
                            <span> sep 2021 - Now </span>
                            <h3>Gabès Faculty of Sciences</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vel quasi consectetur expedita ipsam similique maiores ipsa? Error.</p>
                        </div>
                    </div>
            
                    <div class="box">
                        <div class="content">
                            <span> 2017 - 2020</span>
                            <h3>Gabès Faculty of Sciences</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vel quasi consectetur expedita ipsam similique maiores ipsa? Error.</p>
                        </div>
                    </div>
            
                    <div class="box">
                        <div class="content">
                            <span> 2016 - 2017 </span>
                            <h3>bachlor mathematique</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vel quasi consectetur expedita ipsam similique maiores ipsa? Error.</p>
                        </div>
                    </div>
                </div>
        </div>
</section>
