<section class="projects" id="project">
    <div class="max-width">
        <h2 class="title">Educations & Experiences</h2>
        <div class="serv-content">
            <div class="box-container">
                <div class="box">
                    <i><fa-icon [icon]="faCode"></fa-icon></i>
                    <div class="content">
                        <h2>Web Developer at <a target="_blank" href="https://www.takiacademy.com/" style="color:darkcyan;">TakiAcademy</a></h2>
                        <p>TakiAcademy est une plate-forme d'apprentissage axée sur les étudiants. Enseigner à travers des vidéos ... encadrées par un groupe de professeurs et éducateurs  expérimentés.</p>
                    </div>
                    <span class="year">2021 - Actual</span>
                </div>


                <div class="box">
                    <i><fa-icon [icon]="faGraduationCap"></fa-icon></i>
                    <div class="content">
                        <h2>Software Engineer</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ipsum velit quae unde aperiam repudiandae? Expedita officiis iste pariatur. Suscipit?</p>
                    </div>
                    <span class="year">2021 - Actual</span>
                </div>

                <div class="box">
                    <i><fa-icon [icon]="faCode"></fa-icon></i>
                    <div class="content">
                        <h2>Angular Developer at <a target="_blank" href="https://www.hormiga-services.com/" style="color: darkmagenta;" >Hormiga</a></h2>
                        <p>hormiga-services make it true,with our specialist on business intelligence,we prove your business in the market in the best timing , with best prices and the smartest skills in e-commerce</p>
                    </div>
                    <span class="year">2020 - 2021</span>
                </div>


                <div class="box">
                    <i><fa-icon [icon]="faGraduationCap"></fa-icon></i>
                    <div class="content">
                        <h2>Bachelor's Computer Science</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ipsum velit quae unde aperiam repudiandae? Expedita officiis iste pariatur. Suscipit?</p>
                    </div>
                    <span class="year">2018 - 2021</span>
                </div>

                <div class="box">
                    <i><fa-icon [icon]="faGraduationCap"></fa-icon></i>
                    <div class="content">
                        <h2>Bachlor Mathematique</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ipsum velit quae unde aperiam repudiandae? Expedita officiis iste pariatur. Suscipit?</p>
                    </div>
                    <span class="year">2017</span>
                </div>
            </div>
        
         
        </div>
    </div>
</section>






































<!--
<section class="services" id="projects">
    <div class="max-width">
        <h2 class="title">My Projects</h2>
        <div class="serv-content">


           <div class="card">
               <div class="box">
                   <i class="fas fa-paint-brush"></i>
                   <div class="text">Projet 1</div>
                   <img src="assets/background/back copy.jpg" alt="" style="width: 280px ; height: 100px;">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                   <a href=""><img class="crimson" src="assets/icons/codingc.svg" alt="" style="width: 30px;"></a>
                  <a href=""><img class="white" src="assets/icons/coding.svg" alt="" style="width: 30px;"></a>
               </div>
           </div>


           <div class="card">
            <div class="box">
                <i class="fas fa-paint-brush"></i>
                <div class="text">Projet 2</div>
                <img src="assets/background/1.png" alt="" style="width: 280px ; height: 100px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <a href=""><img class="crimson" src="assets/icons/codingc.svg" alt="" style="width: 30px;"></a>
                <a href=""><img class="white" src="assets/icons/coding.svg" alt="" style="width: 30px;"></a>
            </div>
        </div>


        <div class="card">
            <div class="box">
                <i class="fas fa-paint-brush"></i>
                <div class="text">Projet 3</div>
                <img src="assets/background/1.png" alt="" style="width: 280px ; height: 100px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <a href=""><img class="crimson" src="assets/icons/codingc.svg" alt="" style="width: 30px;"></a>
                <a href=""><img class="white" src="assets/icons/coding.svg" alt="" style="width: 30px;"></a>
            </div>
        </div>
        </div>
    </div>
</section>-->
