/*scroll*/
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 12px;
    bottom: 30px;
    border-radius: 6px;
    text-align: center;
}
.scroll-up-btn img{
  margin-top: 6px;
}
.scroll-up-btn:hover {
  background: darkgrey;
}
