/*scroll*/
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 30px;
}
div#slider { width: 80%; max-width: 1000px; position: absolute;} 
div#slider figure {
  position: relative; 
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}
div#slider figure img {
     width: 20%; height: auto; float: left;
 }
div#slider { width: 80%; max-width: 1000px; overflow: hidden }
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}






.section{
  width: 500px;
  height: 220px;
  text-align: center;
}
.mat-button{
  margin-bottom: -25px;
  background-image: radial-gradient(circle at top right, #6b1376, #AD0C79 ,rgb(89, 0, 255));
  color: white;
  top: -15px;
  border-radius: 2em;
}

.section .stars ngb-rating {
  color:rgba(221, 14, 204, 0.904);
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: -10px;
  margin-top: -15px;
}
.currentRating {
  margin-top: -10px;
}
.section .input input{
  font-size: 20px;
  text-align: center;
  width: 100%;
  border-radius: 1em;
  border: white;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}





