<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My Services</h2>
        <div class="serv-content">
           <div class="card">
               <div class="box">
                   <i class="fas fa-paint-brush"><fa-icon [icon]="faPaintBrush"></fa-icon></i>
                   <div class="text">Web Design</div>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione reiciendis eveniet vitae minima suscipit qui!</p>
               </div>
           </div>
           <div class="card">
            <div class="box">
                <i class="fas fa-paint-brush"><fa-icon [icon]="faCode"></fa-icon></i>
                <div class="text">Web Development</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione reiciendis eveniet vitae minima suscipit qui!</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <i class="fas fa-paint-brush"><fa-icon [icon]="faMobile"></fa-icon></i>
                <div class="text">Respensive Design</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione reiciendis eveniet vitae minima suscipit qui!</p>
            </div>
        </div>
        </div>
    </div>
</section>






































<!--
<section class="services" id="projects">
    <div class="max-width">
        <h2 class="title">My Projects</h2>
        <div class="serv-content">


           <div class="card">
               <div class="box">
                   <i class="fas fa-paint-brush"></i>
                   <div class="text">Projet 1</div>
                   <img src="assets/background/back copy.jpg" alt="" style="width: 280px ; height: 100px;">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                   <a href=""><img class="crimson" src="assets/icons/codingc.svg" alt="" style="width: 30px;"></a>
                  <a href=""><img class="white" src="assets/icons/coding.svg" alt="" style="width: 30px;"></a>
               </div>
           </div>


           <div class="card">
            <div class="box">
                <i class="fas fa-paint-brush"></i>
                <div class="text">Projet 2</div>
                <img src="assets/background/1.png" alt="" style="width: 280px ; height: 100px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <a href=""><img class="crimson" src="assets/icons/codingc.svg" alt="" style="width: 30px;"></a>
                <a href=""><img class="white" src="assets/icons/coding.svg" alt="" style="width: 30px;"></a>
            </div>
        </div>


        <div class="card">
            <div class="box">
                <i class="fas fa-paint-brush"></i>
                <div class="text">Projet 3</div>
                <img src="assets/background/1.png" alt="" style="width: 280px ; height: 100px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <a href=""><img class="crimson" src="assets/icons/codingc.svg" alt="" style="width: 30px;"></a>
                <a href=""><img class="white" src="assets/icons/coding.svg" alt="" style="width: 30px;"></a>
            </div>
        </div>
        </div>
    </div>
</section>-->
