<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My Services</h2>
        <div class="serv-content">
           <div class="card">
               <div class="box">
                   <i class="fas fa-paint-brush"></i>
                   <div class="text">Web Design</div>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione reiciendis eveniet vitae minima suscipit qui!</p>
               </div>
           </div>
           <div class="card">
            <div class="box">
                <i class="fas fa-paint-brush"></i>
                <div class="text">Web Design</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione reiciendis eveniet vitae minima suscipit qui!</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <i class="fas fa-paint-brush"></i>
                <div class="text">Web Design</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione reiciendis eveniet vitae minima suscipit qui!</p>
            </div>
        </div>
        </div>
    </div>
</section>
