<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">My creative skills & experiences.</div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A ex labore distinctio vitae, laborum officia fuga similique accusantium voluptates? Perferendis labore id saepe. Nobis fuga, doloribus accusantium voluptates porro nam. Voluptate totam dolore fuga expedita mollitia molestiae reiciendis consequatur quibusdam vero voluptates rerum necessitatibus amet, voluptas quas maxime ad modi laudantium molestias quam qui. Asperiores dolores alias velit ut nulla.</p>
                <a href="">Read more</a>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>60%</span>
                    </div>
                    <div class="line javascript"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>80%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>70%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>MongoDB</span>
                        <span>75%</span>
                    </div>
                    <div class="line mongodb"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Angular11</span>
                        <span>65%</span>
                    </div>
                    <div class="line angular"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Laravel</span>
                        <span>50%</span>
                    </div>
                    <div class="line laravel"></div>
                </div>
            </div>
        </div>
    </div>
</section>