<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">My creative skills & experiences.</div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A ex labore distinctio vitae, laborum officia fuga similique accusantium voluptates? Perferendis labore id saepe. Nobis fuga, doloribus accusantium voluptates porro nam. Voluptate totam dolore fuga expedita mollitia molestiae reiciendis consequatur quibusdam vero voluptates rerum necessitatibus amet, voluptas quas maxime ad modi laudantium molestias quam qui. Asperiores dolores alias velit ut nulla.</p>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>60%</span>
                    </div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>90%</span>
                    </div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>80%</span>
                    </div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>MongoDB</span>
                        <span>90%</span>
                    </div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Angular11</span>
                        <span>60%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>