<div class="center">
    <input type="checkbox" id="click">
    <div class="rate">
   <a><label for="click" class="click-me">Rate Me</label></a>
</div>
    <div class="content">
        <label for="click"> <img src="assets/icons/cancel.svg" style="width: 15px;" alt="">
        </label>
        <div class="header">
             <h2>Thinks For The Rating </h2>
            </div>
             <!--stars-->
            <div class="stars">
                <app-content-rating></app-content-rating>
            </div>
        <!--<button class="save">Rate Us Now</button>
        <button class="close"><label  for="click"> close</label></button>-->
    </div>
</div>
